services:


  appimg:
    build:
      context: .
      dockerfile: ./zimcasts-web/_dockerfiles/webapp.dockerfile
      tags:
        - webapp-image


  proxyimg:
    build:
      context: .
      dockerfile: ./zimcasts-web/_dockerfiles/webproxy.dockerfile
      tags:
        - webproxy-image



  webapp1:
    image: webapp-image
    hostname: webapp1
    networks:
      - test-network


  webapp2:
    image: webapp-image
    hostname: webapp2
    networks:
      - test-network


  webapp3:
    image: webapp-image
    hostname: webapp3
    networks:
      - test-network

      

  webproxy:
    image: webproxy-image
    hostname: webproxy
    ports:
      - 8000:8000
    networks:
      - test-network
    depends_on:
      - webapp1
      - webapp2
      - webapp3



  jenkins_cicd_server:
    image: jenkins/jenkins:lts-jdk21
    hostname: jenkins_svr
    ports:
      - 8080:8080
      - 50000:50000
    networks:
      - test-network
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: on-failure





networks:
  test-network:
    driver: bridge

volumes:
  jenkins_home: